@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700; 1.800;1.900 & display=swap');

:root{
    --branco-mais-claro: #FFFFFF;
    --ciano-medio: #98F5E1;
    --verde-agua-mais-escuro: #5FBEAC; 
    --marrom-fundo: #9f5e38d0;
}

* {
    padding: 0;
    margin: 0;
    
}

body {
    font-family: 'Playfair Display', serif;
    background-color: var(--marrom-fundo);
    opacity: 82%;
}


.topo {
    display: flex;
    justify-content: space-between;
    opacity: 82%;
    padding: 20px 50px 20px 50px;

}

.icon_menubar {
    width: 50px;
}

ul {
    display: flex;
    justify-content: center;
}

li {
    list-style-type: none;
    padding: 5px 20px;
}

a {
    text-decoration: none;
    color: var(--verde-agua-mais-escuro);
}

.botão-secundario {
    background-color: var(--verde-agua-mais-escuro);
    color: var(--branco-mais-claro);
    border: solid var(--verde-agua-mais-escuro);
    border-radius: 5px;
    padding: 5px;
}

img {
    width: 600px;
}

.corpo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 50px 50px 50px;
}

.esquerdo {
    display: flex;
    flex-direction: column;
}

.esq_titulo {
    font-weight: bold;
    font-size: 65px;
    color: var(--verde-agua-mais-escuro);
}

.esq_p1 {
    font-size: 30px;
    font-weight: 400;
    color: var(--ciano-medio);
}

.botao-primario {
    background-color:var(--verde-agua-mais-escuro);
    color:var(--branco-mais-claro);
    font-size: 28px;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    display: block;
    margin-top: 10px;
    width: 220 px;
}

#produtos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

#produtos h2{
    color: var(--verde-agua-mais-escuro);
}

#produtos h3{
    color: var(--ciano-medio);
}

.produtos {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 50px;
}

.produtos .botao-primario {
    text-align: center;
} 
img {
    width: 280px;
}

.produto {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;
    height: auto;
}

.produto a {
    width: 200px;
}

.produto img {
    height: auto; 
}

h2 {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

h3 {
    font-weight: normal;
    font-size: 26px;
}

#beneficios {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    height: auto;
}
#beneficios h2{
    color: var(--verde-agua-mais-escuro)

}


.beneficios {
    padding: 0 100px;
    display: flex;
    gap: 140px;
    justify-content: center;
    align-items: center;
}

.beneficio-titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
    width: 100%;
}

#beneficios p {
    color: var(--ciano-medio);
    font-size: 20px;
}

.beneficio {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#beneficios h3 {
    color: var(--ciano-medio)

}


.beneficio h4 {
    font-size: 20px;
}



#beneficios .botao-primario {
    padding: 10px 50px;
    width: 200px;
}

#sobre-nos {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: start;  
}

#sobre-nos h2 {
    color: var(--verde-agua-mais-escuro)
}

#sobre-nos p {
    color: var(--ciano-medio);
    font-size: 20px;
}


#sobre-nos {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: start;
}

#sobre-nos .esquerda {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}

#sobre-nos .esquerda img {
    width: 654px;
    overflow: hidden;

}


#sobre-nos .direita {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 900px;
    gap: 36px;
    padding: 0 250px;
}

#sobre-nos p {  
    padding-bottom: 60px;
    width: 60%;
}

#sobre-nos a {
    width: 250px;
}

footer {
    justify-content: start; 
    color: var(--branco);
    padding: 40px 0;
    display: flex;
    justify-content: space-around;
    
}

footer img {
    width: 50px;
}

footer p {
    font-size: 16px;
}

footer ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px; 
    color: var(--verde-agua-mais-escuro)
}

footer h5 {
    font-size: 16px;
    padding-bottom: 16px;
    color: var(--verde-agua-mais-escuro)
}


footer li {
    font-size: 14px;
    font-weight: normal;
    padding: 0;
    transition: opacity 0.6s ease;
    cursor: pointer;
}

footer li:hover {
    opacity: 60%;
}

.icons {
    display: flex;
    justify-content: space-around;
    font-size: 22px;
}

.botao-menu {
    display: none;
}


.botao-menu-close {
    display: none;
}

@media only screen and (max-width: 768px) {
    
    .corpo img{
        display: none;
    }

    .menu-lateral {
        display: block;
        position: fixed;
        top: 0;
        left: -250px; /* Esconde o menu fora da tela */
        width: 250px;
        height: 100%;
        background-color: var(--roxo-medio); /* Cor de fundo do menu */
        transition: left 0.3s ease;
        z-index: 1000; /* Garante que o menu esteja acima de outros elementos */
        flex-direction: column;

        background-color: var(--marrom-fundo);
    }

    .botao-menu-close {
        display: none;
    }

    .menu-lateral.aberto {
        left: 0;
    }

    .menu-lateral.aberto .botao-menu-close {
        display: block;
    }

    .menu-lateral ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 20px;
    }

    .menu-lateral ul li {
        margin-bottom: 10px;
    }

    .menu-lateral ul li a {
        color: var(--branco);
        text-decoration: none;
        font-size: 18px;
    }

    .menu-lateral .botão-secundario {
        display: none;
    }

    .botao-menu {
        display: block;
        position: fixed;
        top: 20px;
        left: 20px;
        background-color: transparent;
        border: none;
        color: var(--roxo-mais-escuro);
        font-size: 20px;
        cursor: pointer;
        z-index: 999; /* Garante que o botão esteja acima do menu */
    }

    .menu-lateral ul {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        text-align: left;
    }

    .topo img {
        display: none;
    }

    #inicio {
        flex-direction: column-reverse;
        text-align: center;
        height: auto;
    }

    #inicio .esquerda {
        align-items: center;
    }

    #inicio .esquerda, .direita {
        width: 100%;
    }

    #inicio .direita img {
        width: 50%;
    }

    h2 {
        font-weight: bold;
        font-size: 36px;
        text-align: center;
    }

    h3 {
        font-weight: normal;
        font-size: 18px;
    }

    #produtos {
        padding: 0;
    }

    .produtos {
        justify-content: space-around;
        padding-top: 26px;
        flex-direction: column;
    }

    .produto {
        gap: 16px;
        padding-top: 20px;
    }

    #beneficios {
        padding: 30px 0;
        gap: 50px;
    }

    .beneficios {
        padding: 0 100px;
        display: flex;
        gap: 60px;

    }

    .beneficios {
        flex-direction: column;
    }

    #sobre-nos {
        flex-direction: column;
        padding: 20px 50px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    #sobre-nos .esquerda h2, p{
        width: auto;
    }

    #sobre-nos .esquerda img {
        width: 400px;
    }

    #sobre-nos .direita {
        width: auto;
    }

    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer ul {
        text-align: start;
    }
}
